*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    padding: 0;
    margin: o;
}
.navbar{
    display: flex;
    padding-left: 52%;
    width: 100%;
    position:fixed ;
}
.ch{
    display: flex;
    padding-left: 8%;
    padding-bottom: 2%;
    position:fixed ;
    color: black;
}
.navbar a{
    color: black;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    float: right;
}
.topic{
    width: 55%;
    float: left;
    padding-top: 50px;
    padding-left: 13%;
    font-size: 40px;
}