*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    padding: 0;
    margin: o;
}
.navbar{
    display: flex;
    padding-left: 55%;
    width: 100%;
    position:fixed ;
}
.ch{
    display: flex;
    padding-left: 6%;
    padding-bottom: 2%;
    position:fixed ;
    color: black;
    font-size: 27px;
}
.navbar a{
    color: black;
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 20px;
}
.topic{
    width: 65%;
    padding-top: 50px;
    padding-left: 9%;
    font-size: 50px;
} 
.main{
    display: flex;
    padding-left: 120px;
    width: 100%;
}
.alien{
padding-right: 20px;
}
.man{
padding-right: 20px;
}
girl{
padding-right: 20px;
}
